.body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container{
  flex: 1;
}


/* NavBar */
.navbar{
  height: 5rem;
  background-color: white;
}

.fa-compass{
  font-size: 2rem;
}

.nav-link{
  color: #222222 !important;
}

/* Footer */

.brand{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}
.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.f-info-social{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.f-info-social i{
  font-size: 1.2rem;
  margin-right:1.5rem ;
}

.f-infolinks a:hover{
  text-decoration: underline;
}

.f-info{
  text-align: center;
  display: flex;
  background-color: #ebebeb;
  height: 7rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* Cards */

.listings-card{
  border: none  !important;
  margin: 1rem;
}


.card-img-top{
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body{
  padding: 0 !important;
}

.card-text p{
  font-weight: 400 !important;
}

.listing-link{
  text-decoration: none;
}

/* Card Effect */

.card-img-overlay{
  opacity: 0;
}

.card-img-overlay:hover{
  opacity: 0.5;
  background-color: white;
}

.add-btn{
  background-color: #74c0fc !important;
  border: none !important;
  color: white;
}

.edit-btn{
  background-color: #74c0fc !important;
  border: none !important;
  color: white;
}

.btns{
  display: flex;
}

.show-card{
  padding: 0;
}

